{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block main %}

<ul class="tabs">
  <li id="historyButton" data-tab-target="#history" class="tab show">History</li>
  <li id="expensesButton" data-tab-target="#expenses" class="tab">Expenses</li>
  <li id="profileButton" data-tab-target="#profile" class="tab">Profile</li>
</ul>

<div class="tab-content">

  <!-- ___________________ History Section _____________________ -->
  <div id="history" class="container show" data-tab-content>
    <div class="col">
      <div class="row">

        <table class="table table-borderless table-striped table-hover">
          <thead>
            <tr class="th-market">
              <th scope="col">Date</th>
              <th scope="col">Company Name</th>
              <th scope="col"># Shares</th>
              <th scope="col">Share Price</th>
              <th scope="col">Ticker Symbol</th>
            </tr>
          </thead>
          <tbody>

            {% for row in history %}
            <tr class="td-market">
              <td scope="col">{{ row[0] }}</td>
              <td>{{ row[1] }}</td>
              <td>{{ row[2] }}</td>
              <td>{{ row[3] }}</td>
              <td>{{ row[4] }}</td>
            </tr>
            {% endfor %}

          </tbody>
        </table>

      </div>
    </div>
  </div>



  <!-- __________________ Expenses Section ____________________ -->
  <div id="expenses" class="container" data-tab-content>
    <!-- _______ First row with summary table and expense add form ______ -->
    <div class="row">
      <div class="col container-wborder">
        <div class="row table-title">
          <div class="row">
            <h6>SUMMARY</h6>
          </div>
          <table class="table table-sm table-borderless table-striped table-hover">
            <thead>
              <tr class="th-market">
                <th scope="col">Date</th>
                <th scope="col">Type</th>
                <th scope="col">Cost</th>
              </tr>
            </thead>

            <tbody>

              {% for row in expenses %}
              <tr class="td-market">
                <td scope="col">{{ row[2] }}</td>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }} €</td>
              </tr>
              {% endfor %}

            </tbody>

          </table>
        </div>
      </div>


      <!-- _____________________  EXPENSE ADD FORM ______________________ -->
      <div class="col container-wborder secCol-ExpTab">
        <div class="row">
          <div class="container">

            <form action="#" method="post">
              <div class="form-row">
                <div class="col-md-3 mb-3">
                  <label class="label-profile">Type</label>
                  <input type="text" class="form-control buildData" placeholder="Type">
                </div>
                <div class="col-md-4 mb-3">
                  <label class="label-profile">Expense</label>
                  <input type="text" class="form-control buildData" placeholder="Expense">
                </div>
                <div class="col-md-3 mb-3">
                  <label class="label-profile">Cost</label>
                  <input type="text" class="form-control buildData" placeholder="Cost">
                </div>
                <div class="col">
                  <label style="visibility: hidden;">Cost</label>
                  <button class="default-button button-changes-expenses" onclick="createRow()">Add</button>
                </div>
              </div>
            </form>
          </div>

        </div>
        <div class="row" style="justify-content: center; display: grid;">
          <div class="col">
            <label class="labelAddExp"></label>
            <a class="default-button button-changes-expenses-1" href="/account">Refresh</a>
          </div>
        </div>
      </div>


    </div>
    <!-- _________________ Second row with pie chart ____________________ -->
    <div class="row">

      <div class="col container-wborder">
        <div id="pie-chart"><canvas id="canvas" width="500px" height="500px"></canvas>
        </div>
      </div>

      <div class="col secCol-ExpTab2 container-wborder">
        <div class="row table-title">
          <h6>New Additions</h6>
        </div>
        <table class="table table-sm table-borderless table-striped table-hover">
          <thead>
            <tr class="th-market">
              <th scope="col">Date</th>
              <th scope="col">Type</th>
              <th scope="col">Expense</th>
              <th scope="col">Cost</th>
            </tr>
          </thead>

          <tbody class="table-body">

          </tbody>

        </table>

      </div>

    </div>
  </div>




  <!-- ___________________ Account Section _____________________ -->
  <div id="profile" data-tab-content style="margin: 0 500px;">

    <form id="saveChanges" action="/account" method="post">
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label>First name</label>
          <input type="text" class="form-control" value="{{ userdata[0][0] }}" name="firstname">
        </div>
        <div class="col-md-6 mb-3">
          <label>Last name</label>
          <input type="text" class="form-control" value="{{ userdata[0][1] }}" name="lastname">
        </div>
      </div>
      <div class="form-row" style="margin-bottom: 15px;">
        <div class="col-md-3 mb-3">
          <label>City</label>
          <input type="text" class="form-control" name="city" value="{{ userdata[0][3] }}">
        </div>
        <div class="col-md-3 mb-3">
          <label>Age</label>
          <input type="text" class="form-control" name="age" value="{{ userdata[0][2] }}">
        </div>

        {% if cashSet == 0 %}
        <div class="col-md-6 mb-3">
          <label>Initial Cash</label>
          <input id="initCash" type="text" class="form-control inputSetCash" name="initialcash"
            placeholder="Set Cash Value" required>
        </div>
        {% endif %}

      </div>

      <!-- _________ PASSWORD FIELDS _________ -->
      <div class="form-row">
        <div class="col-md-3 mb-3">
          <label>Password</label>
          <input type="password" class="form-control inputPass" name="password" disabled>
        </div>
        <div class="col-md-3 mb-3">
          <label>Re enter Password</label>
          <input type="password" class="form-control inputPass" disabled>
        </div>
        <div class="col-md-3 mb-3">
          <label style="visibility: hidden;">Re enter Password</label>
          <button class="default-button button-changes-profile" type="submit" onclick="toggleInputPass()">Change
            Password</button>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
          <label class="form-check-label" for="invalidCheck">
            Agree to terms and conditions
          </label>
        </div>
      </div>
      <button class="default-button button-changes-profile" type="submit" onclick="submitIF()">Save Changes</button>
      <label id="labelTC" class="labelTC"></label>
    </form>

  </div>

</div>

<script>

  window.onload = function() {
    buildPieChart()
  }


  /* _____ CREATES ROWS, GRAPH AND UPDATES DATABASE ____*/
  function createRow() {
    event.preventDefault()

    data = updateDB()
    buildPieChart()

    const tablebody = document.querySelector(".table-body");
    const newTr = document.createElement("tr");
    const labelAddExp = document.querySelector(".labelAddExp");

    if (data[0] === "ERROR") {
      labelAddExp.innerHTML = "You can´t leave any blank fields!";
      labelAddExp.style.visibility = "visible";
    }
    else {
      for (i = 0; i < 4; i++) {
        const newTd = document.createElement("td");
        newTd.innerHTML = data[i];
        newTr.appendChild(newTd);
        newTr.className = "td-market";
      }
      tablebody.appendChild(newTr);
      labelAddExp.innerHTML = "You must reload page to update summary table!";
      labelAddExp.style.visibility = "visible";
      document.querySelector(".button-changes-expenses-1").style.visibility = "visible";
    }
  }


  /* _____ GETS DB DATA AND BUILDS PIE CHART ____*/
  function buildPieChart() {
    /*_ACCESSES SERVER AND UPDATE EXPENSES TABLE DB_*/
    fetch("http://127.0.0.1:5000/getDataDB", {
      method: "GET"
    })
      .then(response => response.json())
      .then(data => {
        let label = []
        let dataset = []

        const colors = ["#81b29a", "#2a9d8f", "#457b9d", "#1d3557", "#14213d", "#dee2ff", "#cbc0d3", "#64653", "#6b705c", "#d4a373"];

        data.forEach(x => {
          label.push(x[0]);
          dataset.push(x[1]);
        })

        var ctx = document.getElementById('canvas').getContext('2d');
        var myPieChart = new Chart(ctx, {
          type: 'pie',
          data: {
            labels: label,
            datasets: [{
              data: dataset,
              backgroundColor: colors,
              borderColor: "lightgray"
            }]
          },
          options: {
            title: {
              text: "Expenses Summary",
              fontSize: 18,
              fontColor: "#00b4d8",
              display: true
            },
            responsive: true,
            legend: {
              labels: {
                fontColor: "#17c3b2"
              }
            }
          }
        })
      })
  }


  /* _____ACESS SERVER TO UPDATE DATABASE____*/
  function updateDB() {

    let today = new Date().toISOString().slice(0, 10);
    let data = [today, 0, 0, 0];
    let i = 0;
    const buildData = document.querySelectorAll(".buildData");

    buildData.forEach(x => {
      if (x.value === "") {
        data[0] = "ERROR";
      }
      data[i + 1] = x.value;
      i += 1;
    })

    resetGraph()

    if (data[0] !== "ERROR") {
      /*_ACCESSES SERVER AND UPDATE EXPENSES TABLE DB_*/
      fetch("http://127.0.0.1:5000/updateDB", {
        method: "POST",
        body: JSON.stringify(data),
        headers: new Headers({
          "content-type": "application/json"
        })
      })
    }

    return data;
  }

  /* _________________ RESETS PIE CHART ________________*/
  function resetGraph() {
    document.getElementById("canvas").remove();

    var divG = document.getElementById("pie-chart");
    var canvas = document.createElement("canvas");

    divG.appendChild(canvas);

    canvas.setAttribute("id", "canvas");
    canvas.setAttribute("width", "500px");
    canvas.setAttribute("height", "500px");
  }


  /* _____ ENABLES AND DISABLES PASSWORD FIELDS ____*/
  function toggleInputPass() {
    event.preventDefault()
    const inputPass = document.querySelectorAll(".inputPass")
    const label = document.getElementById("labelTC");

    inputPass.forEach(x => {
      if (x.disabled == true) {
        x.disabled = false;
        x.classList.add("input-enabled");
        label.innerHTML = "Press Save Changes to save password!";
        label.style.display = "block";
      }
      else {
        x.disabled = true;
        x.classList.remove("input-enabled");
        label.style.display = "none";
      }
    })
  }


  /* _____ SUBMITS FORM IF INPUTS ARE CORRECTLY FILLED ____*/
  function submitIF() {
    event.preventDefault()

    const initCash = document.getElementById("initCash")
    const saveChanges = document.getElementById("saveChanges")
    const invalidcheck = document.getElementById("invalidCheck")
    const labelTC = document.getElementById("labelTC")
    let isfalse = 0

    if (invalidcheck.checkValidity() === false) {
      labelTC.innerHTML = "You need to agree with the terms and conditions to continue!"
      isfalse = 1;
    }

    if (initCash !== null) {
      if (initCash.checkValidity() === false) {
        labelTC.innerHTML = "In your first login you must set an initial cash ammount!"
        isfalse = 1;
      }
    }

    const inputPass = document.querySelectorAll(".inputPass")
    let checkPass = 0
    let counter = 0
    inputPass.forEach(x => {
      if (counter == 0) {
        checkPass = x.value
        counter = 1
      }
      else {
        if (x.value == checkPass) {
          checkPass = 1
        }
        else {
          isfalse = 1
          labelTC.innerHTML = "The password fields does NOT match!"
        }
      }
    })

    if (isfalse == 1) {
      labelTC.style.display = "block";
    }
    else {
      labelTC.style.display = "none";
      saveChanges.submit()
    }
  }


  /* _______Handles the content switch inside account page________ */
  const tabs = document.querySelectorAll("[data-tab-target]")
  const tabContents = document.querySelectorAll("[data-tab-content]")

  tabs.forEach(tab => {
    tab.addEventListener("click", () => {
      const target = document.querySelector(tab.dataset.tabTarget)
      tabContents.forEach(tabContents => {
        tabContents.classList.remove("show")
      })
      tabs.forEach(tab => {
        tab.classList.remove("show")
      })
      tab.classList.add("show")
      target.classList.add("show")
    })
  })

</script>


{% endblock %}