{% extends "layout.html" %}

{% block title %} LOGIN {% endblock %}

{% block main %}

<div class="container logContainer">

  <div class="container">
    <div class="row rows-login">
      <h1 id="title">Welcome</h1>
    </div>
    <div class="row rows-login">
      <h5 id="label">
        <!-- Details the origin of errors from login -->
        {% if logError %}
        {{ logError }}

        {% else %}
        Please provide your information.
        {% endif %}
      </h5>
    </div>
  </div>

  <form action="/login" method="post">
    <div class="form-group ">
      <label for="exampleInputEmail1">Enter you username</label>
      <input name="username" class="form-control formIn" id="exampleInputEmail1" aria-describedby="emailHelp"
        value="{{ username}}">
      <small id="emailHelp" class="form-text ">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Enter your password</label>
      <input name="password" type="password" class="form-control formIn" id="exampleInputPassword1">
    </div>

    <div><button type="submit" class="btn btn-dark btnSub" onclick="load()">Login</button></div>
    <a style="color: lightskyblue" href="/register">No account yet? Register here.</a>
</div>

</form>

</div>

<script>

  function load() {
    const title = document.getElementById("title");
    const label = document.getElementById("label");

    title.innerHTML = "Loading";
    label.innerHTML = "";

    setTimeout(load2, 10000);
    setTimeout(load3, 20000);
  }

  function load2() {
    const title = document.getElementById("title");
    title.innerHTML = "Still Loading";
  }
  function load3() {
    const title = document.getElementById("title");
    title.innerHTML = "Almost ...";
  }

  const navbar = document.getElementById("navbar");
  const regBtn = document.getElementById("regBtn");

  navbar.style.visibility = "hidden";
  regBtn.style.visibility = "hidden";

</script>

{% endblock %}