{% extends "layout.html" %}

{% block title %} Market {% endblock %}

{% block main %}

<div class="container" style="display: flex">
  <div class="row">
    <div class="col">

      <!-- Table with the top 5 tech stocks -->
      <div class="tableContainer">
        <h3>Top 5 Tech Stocks</h1>

          <table>
            <tr>
              <th>#</th>
              <th>Stock</th>
              <th>Price</th>
              <th>YTD %</th>
            </tr>
            <tr id="TSLAt">
              <td>1</td>
              <td>Tesla</td>
              <td>{{ price[0] }}</td>
              <td style="color:green">{{ ytdChange[0] }}%</td>
              <td class="noPad">
                <a class="btnBuy" href="/"><i class="fas fa-angle-double-up fa-sm"></i></a>
              </td>
              <td class="noPad">
                <a class="btnSell" href="/"><i class="fas fa-angle-double-down fa-sm"></i></a>
              </td>
            </tr>
            <tr id="AAPL" onClick="doEver(this.id)">
              <td>2</td>
              <td>Apple</td>
              <td>{{ price[1] }}</td>
              <td style="color:green">{{ ytdChange[1] }}%</td>
              <td class="noPad">
                <a class="btnBuy" href="/"><i class="fas fa-angle-double-up fa-sm"></i></a>
              </td>
              <td class="noPad">
                <a class="btnSell" href="/"><i class="fas fa-angle-double-down fa-sm"></i></a>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Amazon</td>
              <td>{{ price[2] }}</td>
              <td style="color:green">{{ ytdChange[2] }}%</td>
              <td class="noPad">
                <a class="btnBuy" href="/"><i class="fas fa-angle-double-up fa-sm"></i></a>
              </td>
              <td class="noPad">
                <a class="btnSell" href="/"><i class="fas fa-angle-double-down fa-sm"></i></a>
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td>Microsoft</td>
              <td>{{ price[3] }}</td>
              <td style="color:green">{{ ytdChange[3] }}%%</td>
              <td class="noPad">
                <a class="btnBuy" href="/"><i class="fas fa-angle-double-up fa-sm"></i></a>
              </td>
              <td class="noPad">
                <a class="btnSell" href="/"><i class="fas fa-angle-double-down fa-sm"></i></a>
              </td>
            </tr>
            <tr>
              <td>5</td>
              <td>Facebook</td>
              <td>{{ price[4] }}</td>
              <td style="color:green">{{ ytdChange[4] }}%</td>
              <td class="noPad">
                <a class="btnBuy" href="/"><i class="fas fa-angle-double-up fa-sm"></i></a>
              </td>
              <td class="noPad">
                <a class="btnSell" href="/"><i class="fas fa-angle-double-down fa-sm"></i></a>
              </td>
            </tr>
          </table>
      </div>


      <!-- Table with the top 5 non stock assets -->
      <div class="tableContainer">
        <h3>Top 5 Non Stock Assets</h1>
          <table>
            <tr>
              <th>#</th>
              <th>Stock</th>
              <th>Price</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Bitcoin</td>
              <td>{{ price[5] }}</td>
              <td class="noPad">
                <a class="btnBuy" href="/"><i class="fas fa-angle-double-up fa-sm"></i></a>
              </td>
              <td class="noPad">
                <a class="btnSell" href="/"><i class="fas fa-angle-double-down fa-sm"></i></a>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Euro</td>
              <td>{{ price[6] }}</td>
              <td class="noPad">
                <a class="btnBuy" href="/"><i class="fas fa-angle-double-up fa-sm"></i></a>
              </td>
              <td class="noPad">
                <a class="btnSell" href="/"><i class="fas fa-angle-double-down fa-sm"></i></a>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>10y Bond</td>
              <td>{{ price[7] }}</td>
              <td class="noPad">
                <a class="btnBuy" href="/"><i class="fas fa-angle-double-up fa-sm"></i></a>
              </td>
              <td class="noPad">
                <a class="btnSell" href="/"><i class="fas fa-angle-double-down fa-sm"></i></a>
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td>Oil</td>
              <td>{{ price[8] }}</td>
              <td class="noPad">
                <a class="btnBuy" href="/"><i class="fas fa-angle-double-up fa-sm"></i></a>
              </td>
              <td class="noPad">
                <a class="btnSell" href="/"><i class="fas fa-angle-double-down fa-sm"></i></a>
              </td>
            </tr>
            <tr>
              <td>5</td>
              <td>Gold</td>
              <td>{{ price[9] }}</td>
              <td class="noPad">
                <a class="btnBuy" href="/"><i class="fas fa-angle-double-up fa-sm"></i></a>
              </td>
              <td class="noPad">
                <a class="btnSell" href="/"><i class="fas fa-angle-double-down fa-sm"></i></a>
              </td>
            </tr>
          </table>
      </div>
    </div>

    <!-- Second column containing the graph -->
    <div class="col">
      <div class="GRAPH">
        <canvas id="canvas" width="500px" height="500px"></canvas>
      </div>
    </div>

  </div>
</div>


<div class="row">
  <div class="col"></div>

  <!-- Container with check quote and submit orders -->
  <div class="col checkContainer">
    <form action="/buy" method="post">      
      <label class="lblChkCont">Check other quotes</label>

      <div><input class="inputCheck" name="quote" placeholder="Ticker Symbol">
        <button class="btnCheck" type="submit">Check</button>
      </div>

      <label class="lblChkCont">Tesla Inc. stock is valued at 440.54</label>
      <hr color="lightgray">
      <div class="divSub"><input class="inputQty" name="quantity" placeholder="Quantity"></div>
      <div class="divSub"><button class="btnSubmit" type="submit">Submit Order</button></div>
    </form>
  </div>

  <div class="col"></div>
</div>
<div id="FODACE"></div>
<div id="COQIXO"></div>
</div>

<script>   
  var xAxis = {{ xAxis|tojson }};
  var yAxis = {{ yAxis|tojson }};   

  function doEver(id) {
    //const xAxis2 = getData(id, 2)
    //const yAxis2 = getData(id, 1)
    let yAxis2 = ["crap"];
    let xAxis2 = {};
    getData(id, 1);
    getData(id, 2)
    console.log(xAxis2)
    console.log(yAxis2)

    //doGraph(xAxis2, yAxis2, id)

    console.log("SIM??")
    console.log(xAxis2)
    console.log(yAxis2)
    document.querySelector("#FODACE").innerText = xAxis2
    document.querySelector("#COQIXO").innerText = yAxis2

  }
       
  function getData(entry, xy) {
      fetch("http://127.0.0.1:5000/fetchDo", {
      method: "POST",
      credentials: "include",
      body: JSON.stringify(entry + " " + xy),
      cache:"no-cache",
      headers: new Headers({
      "content-type": "application/json"
      })
    })
    .then(response => response.json())
    .then(data => {   
      xAxis2 = data
      document.querySelector("#FODACE").innerText = data
      console.log(xAxis2)
      console.log(yAxis2)
    })
  }    

  function doGraph(xData, yData, ticker) {
    var config = {
			type: 'line',
			data: {
				labels: xData,
				datasets: [{
					label: 'Dataset: ' + ticker,
					backgroundColor: "lightgray",
					borderColor: "black",
					data: yData,
					fill: false,
				}]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: 'Chart.js Line Chart'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Month'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Value'
						}
					}]
				}
			}
		};

  var ctx = document.getElementById('canvas').getContext('2d');
  window.myLine = new Chart(ctx, config);

  }

</script>



{% endblock %}