main {
    /* scroll horizontally as needed */
    overflow-x: auto;    
}

html {
  width: 100%;
  height: 100%;  
}

body {
  height: 100%;
  margin: 30px 3px 0 3px;
  background-image: linear-gradient(120deg, rgb(80, 80, 80), rgb(37, 71, 163));
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "SuisseIntl-SemiBold",Helvetica,Arial,sans-serif;
  font-variant: all-petite-caps;
}

.logContainer {
  background-color: linear-gradient(120deg, rgb(80, 80, 80), rgb(37, 71, 163));
  padding: 40px;
  border: 2px solid lightgray;
  border-radius: 5px;
  box-shadow: lightgray 2px;
  width: 400px;
  align-items: center;
}

.text-cool {
  color: rgb(185, 190, 207);
}

h1 {
  text-align: center;
  color: lightgoldenrodyellow;
  font-size: 35px;
}

h5 {
  font-size: 18px;
  text-align: center;
  margin: 10px 0 30px 0 ;
  color: lightgoldenrodyellow;
}

h3 h2 {
  color: grey;
  text-align: center;
}

/* ______________Input Form and Button configuration________*/
.formIn {
  height: 3em;
}
.btnSub {
  background-color: darkolivegreen;
  margin: 5px 0;
  width: 320px;
  height: 3em;
}


/* ______________________Button configuration_____________*/

.btnToPres {
  font-family: "SuisseIntl-SemiBold",Helvetica,Arial,sans-serif;
  color: rgb(4, 10, 46);
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 14px;
  letter-spacing: .4px;
  padding: 15px;
  text-transform: uppercase;
}

.btnToPres:hover {
  text-decoration: none;
  list-style-type: none;
  color: rgb(28, 61, 134);
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 10px;
}

.iconBtn {
  margin: 0 300px;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
}

.middleBtn {
  margin-left: 50px;
}

.rightBtn {
  text-decoration: none;
  color: azure;
  margin-left: 10px;
  padding: 10px 30px;
  border-radius: 10px;
  justify-items: center;
}

.rightBtn:hover {
  text-decoration: none;
  list-style-type: none;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: lightskyblue;
  color: #111;
}

.logBtn {
  margin-left: 300px;
  background-color: rgb(76, 103, 145);
}

.logOBtn {
  background-color: rgb(9, 29, 59);
}

.regBtn {
  background-color: rgb(9, 29, 59);
}

.fa-money-check-alt {
  color: lightskyblue;
}


/* __________________________FOOTER_____________________ */  
footer {
  list-style-type: none;
  font-size: small;
  color: lightgoldenrodyellow;
  background-color: black;
  position: fixed;
  right: 0;
  bottom: 0;
  text-align: center;
  width: 12%;
  border-radius: 2px;
  border: 1px solid lightblue;
}


/* ________________________MARKET PAGE_______________ */
/* ___________________TABLE_______ */

.tableContainer {
  margin: 5px 0;
  background-color: linear-gradient(120deg, rgb(100, 100, 100), rgb(50, 85, 180));
  padding: 10px;
  border: 2px solid lightgray;
  border-radius: 8px;
  box-shadow: lightgray 10px;
}

h3 {
  color: lightgreen;
  font-weight: bold;
  font-size: 18px;
  line-height: 14px;
  letter-spacing: .4px;
  text-transform: uppercase;
  margin-top: 15px;
}

.th-market {
  padding: 0 25px;
  font-size: 15px;
  color: darkgrey;
}
.td-market {
  padding: 5px 25px;
  font-size: 15px;
  color: rgb(173, 216, 230);
}

.td-market:hover {
  background-color:lightgrey;
  color: rgb(80, 126, 120); 
}

.GRAPH {
  border: 2px solid lightgray;
  border-radius: 8px;
  box-shadow: lightgray 10px;
}

.btnBuy {
  color: rgb(34, 146, 34); 
}

.btnSell {
  color: rgb(209, 10, 10);
}

.noPad {
  padding: 0 5px;
}


/* _______________CHECK CONTAINER__________ */

.checkContainer {
  display: flex;
  margin-top: 15px;
  padding: 15px;
  border: 2px solid lightgray;
  border-radius: 8px;
  box-shadow: lightgray 10px;
  justify-content: center;
  align-content: center;
}

.labelCheck {
  color: lightcyan;
  font-weight: 300;
  font-size: 20px;
}

.inputCheck {
  margin: 5px 0;
  background-color: rgb(22, 54, 112);
  color: lightcyan;
}

.btnCheck {
  border-radius: 5px;
  border: 1px solid lightcyan;
  box-shadow: lightgray 2px;
  background-color: rgb(22, 54, 112);
  color: lightcyan;
}

.btnCheck:hover  {
  background-color: lightcyan;
  color: rgb(22, 54, 112);
  transition: all 0.3s ease;
}
.mktBtn:hover {
  background-color: lightcyan;
  color: rgb(22, 54, 112);
  transition: all 0.3s ease;
}

.mktBtn {
  border-radius: 5px;
  border: 1px solid lightcyan;
  box-shadow: lightgray 2px;
  background-color: rgb(22, 54, 112);
  color: lightcyan;
  margin-top: 5px;
  width: 100px;
}

.active {
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: lightgray 2px;
  background-color: lightcyan;
  color:rgb(22, 54, 112);
  margin-top: 5px;
  width: 100px;
}

.btnCheck:hover, .btnSubmit:hover {
  background-color: white;
}

.divSub {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

/* _____________________POPUP WINDOW ELEMENTS_______________ */
.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 500px;
  height: 300px;
  background-image: linear-gradient(120deg, rgb(80, 80, 80), rgb(37, 71, 163));
  border: 2px solid lightgray;
  border-radius: 8px;
  box-shadow: lightgray 10px;  
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.crossX {
  position: absolute;
  top: 0;
  font-size: 42px;
  transform: rotate(45deg);
  right: 10px;
  cursor: pointer;
}

.crossX:hover {
  transition: all 0.1s ease;
  color: lightcyan;
}

.formModal {
  padding: 15px;
  justify-content: center;
  align-items: center;
}

.inputQty {
  margin: 5px 0;
  width: 150px;
}

.contBuySell {
  display: flex;
  margin-top: 15px;
}

.marginContainer {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  border: 2px solid lightgray;
  border-radius: 8px;
  box-shadow: lightgray 10px;
  padding: 5px;
}

.marginBtn {
  width: 60px;
  margin: 0 10px;
}

.labelMargin {
  font-variant: all-petite-caps;
  font-weight: bold;
}

.labelModal {
  margin-top: 15px;
  color: lightcyan;
}

.mLabel {
  font-size: 15px;
}

/* ___________________WALLET PAGE_______________*/  

.alarmContainer {
  display: flex;
  border: 2px solid lightgreen;
  margin-bottom: 20px; 
  padding-top: 10px;
  transition: all 0.3s ease;
  justify-content: center;
  color: lightgreen;
  font-size: xx-large;
}

.rowTable { /* table in wallet page */ 
  border: 2px solid lightgray;
  border-radius: 8px;
  box-shadow: lightgray 10px;
  padding: 15px;
}

.colTable {
  margin-left: -250px;
  margin-right: 30px;
}

.table-custom {
  width: 900px;
}

.secnd-col { /* Second column, right side of table */ 
  border: 2px solid lightgray;
  border-radius: 8px;
  box-shadow: lightgray 10px;
  padding: 20px;
  color: lightgray;
}

.firstCol { /* first column inside right side containers */ 
  width: 200px;
}

.h2Wallet { 
  font-size: 25px;
  color: lightgreen;
}

.companyNameLabel {
  justify-content: center;
  font-size: 1.3em;
}

.walletHeadRow:hover {
  color: black;
  background-color: lightblue;
  cursor: pointer;
}


/* ___________________ACCOUNT PAGE_______________*/  

[data-tab-content] {
  display: none;
}

.show[data-tab-content] {
  display:block;
}

.tabs {
  display:flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tab {
  cursor: pointer;
  padding: 10px;
  margin: 0 2px;
  width: 150px;
  text-align: center;
  font-size: 18px;
  line-height: 14px;
  letter-spacing: .4px;
  border: 1px solid lightblue;
  border-radius: 5px;
  background-color: rgb(4, 10, 46); 
  color: lemonchiffon;
}

.tab.show {
  background-color: lightskyblue;
}

.tab:hover {
  background-color: lightskyblue;
  color: lemonchiffon;
}

.tab-content {
  margin: 30px 50px 150px 50px;
  border: 2px solid lightgray;
  border-radius: 8px;
  box-shadow: lightgray 15px;
  padding: 20px;
}

/* ___________________PROFILE PAGE _______________*/  
.labelTC {
  display: none;
  margin-top: 5px;
  color: red;
}