{% extends "layout.html" %}

{% block title %} Wallet {% endblock %}

{% block main %}

{% if isBuy %}
<div id="alarmContainer" class="container alarmContainer">
	<p>Congratulations! You´ve just bought {{ shares }} shares of {{ ticker }}.</p>
</div>
{% endif %}

<div class="container" style="display:flex;">
	<div class="col colTable">
		<div class="row rowTable">
			<div class="row">
				<h6 style="font-size: 22px;">Asset Portfolio</h6>
			</div>
			<table class="table table-striped table-borderless table-hover table-custom">
				<thead>
					<tr class="th-market">
						<th scope="col">Symbol</th>
						<th scope="col">Asset Type</th>
						<th scope="col"># Shares</th>
						<th scope="col">Weighted Cost</th>
						<th scope="col">Value</th>
						<th scope="col">$Gain/Loss</th>
						<th scope="col">%Gain/Loss</th>
					</tr>
				</thead>
				<tbody>

					{% for row in history %}
					<tr class="td-market">
						<th class="walletHeadRow" scope="col" onclick="getAssetData(this)">{{ row[6] }}</th>
						<td>{{ row[0] }}</td>
						<td>{{ row[1] }}</td>
						<td>$ {{ row[2] }}</td>
						<td>$ {{ row[3] }}</td>
						<td>$ {{ row[4] }}</td>
						<td>{{ row[5] }} %</td>
					</tr>
					{% endfor %}

				</tbody>
			</table>
		</div>
	</div>
	<div class="col" style="margin-left: 25px">

		<!-- ____________ WALLET INFORMATION BOX ________________-->
		<div class="row">
			<h2 class="h2-wallet">Wallet Information</h2>
		</div>
		<div class="secnd-col">
			<div class="row companyNameLabel">
				<div>
					<p class="box-title-wallet">{{ username }}</p>
				</div>
			</div>
			<div class="row box-rows-wallet" style="display:flex">
				<div class="firstCol">
					<p>Cash Position:</p>
				</div>
				<div>
					<p>$ {{ cashPosition }}.000</p>
				</div>
			</div>
			<div class="row  box-rows-wallet" style="display:flex">
				<div class="firstCol">
					<p>Cash Invested:</p>
				</div>
				<div>
					<p>$ {{ cashInvested }}.000</p>
				</div>
			</div>
			<div class="row  box-rows-wallet" style="display:flex">
				<div>
					<p class="firstCol">Cash Total:</p>
				</div>
				<div>
					<p>$ {{ cashTotal }}.000</p>
				</div>
			</div>
		</div>

		<!-- ____________ ASSET INFORMATION BOX ________________-->
		<div class="row boxes-wallet">
			<h2 class="h2-wallet">Asset Information</h2>
		</div>
		<div class="secnd-col">
			<div class="row companyNameLabel">
				<div>
					<p class="box-title-wallet" id="labelCompanyName">companyName</p>
				</div>
			</div>
			<div class="row  box-rows-wallet" style="display:flex">
				<div class="firstCol">
					<p>Ticker Symbol:</p>
				</div>
				<div>
					<p id="labelTickerSymbol"></p>
				</div>
			</div>
			<div class="row  box-rows-wallet" style="display:flex">
				<div class="firstCol">
					<p>Current Price:</p>
				</div>
				<div>
					<p id="labelCurrentPrice"></p>
				</div>
			</div>
			<div class="row  box-rows-wallet" style="display:flex">
				<div class="firstCol">
					<p>52 Week Change:</p>
				</div>
				<div>
					<p id="labelYearDate"></p>
				</div>
			</div>
		</div>

		<!-- ____________ PIE CHART BOX ________________-->
		<div class="row boxes-wallet">
			<h2 class="h2-wallet">Portfolio Allocation</h2>
		</div>
		<div class="secnd-col">
			<div id="pie-chart"><canvas id="canvas" style="max-height: 300px;"></canvas>
			</div>
		</div>

	</div>
</div>

<script>

	window.onload = function () {
		buildPieChart()
	}

	/*________ Handles alert messagem when buying assets ________*/
	function hideAlarmContainer() {
		const alarmContainer = document.getElementById("alarmContainer");
		if (alarmContainer !== null) {
			alarmContainer.style.display = "none";
		}
	}
	setTimeout(hideAlarmContainer, 3000);


	/*_________ Gets asset info and loads asset info box _________*/
	function getAssetData(e) {
		ticker = e.innerHTML;

		fetch("http://127.0.0.1:5000/getPrice", {
			method: "POST",
			credentials: "include",
			body: JSON.stringify(ticker),
			cache: "no-cache",
			headers: new Headers({
				"content-type": "application/json"
			})
		})
			.then(response => response.json())
			.then(data => {

				price = data["price"];
				ytdChange = data["ytdChange"]
				companyName = data["companyName"]

				document.getElementById("labelTickerSymbol").innerText = ticker;
				document.getElementById("labelCompanyName").innerText = companyName;
				document.getElementById("labelCurrentPrice").innerText = "$ " + price;
				document.getElementById("labelYearDate").innerText = ytdChange + " %";

			})
	}


	/* ___________ GETS DATA AND BUILDS PIE CHART _____________*/
	function buildPieChart() {

		/* _____ GETS DATA _____*/
		fetch("http://127.0.0.1:5000/getDataDB", {
			method: "GET"
		})
			.then(response => response.json())
			.then(data => {
				let label = []
				let dataset = []

				const colors = ["#81b29a", "#2a9d8f", "#457b9d", "#1d3557", "#14213d", "#dee2ff", "#cbc0d3", "#64653", "#6b705c", "#d4a373"];

				data.forEach(x => {
					label.push(x[0]);
					dataset.push(x[1]);
				})

				/* _____ BUILDS PIE CHART _____*/
				var ctx = document.getElementById('canvas').getContext('2d');
				var myPieChart = new Chart(ctx, {
					type: 'pie',
					data: {
						labels: label,
						datasets: [{
							data: dataset,
							backgroundColor: colors,
							borderColor: "lightgray"
						}]
					},
					options: {
						responsive: true,
						legend: {
							position: "right",
							labels: {
								fontSize: 9,
								fontColor: "#17c3b2"
							}
						}
					}
				})
			})
	}

</script>

{% endblock %}