{% extends "layout.html" %}

{% block title %} Wallet {% endblock %}

{% block main %}

{% if error %}
{% if error == 1 %}
<div id="alarmContainer" class="container alarmContainer-error">
	<p>We can´t process the buy order. Not enough cash available.</p>
</div>
{% endif %}
{% if error == 2 %}
<div id="alarmContainer" class="container alarmContainer-error">
	<p>We can´t process the sell order. Not enough shares available.</p>
</div>
{% endif %}
{% else %}
{% if isBuy %}
{% if isBuy == 1 %}
<div id="alarmContainer" class="container alarmContainer">
	<p>Congratulations! You´ve bought {{ shares }} shares of {{ ticker }}.</p>
</div>
{% else %}
<div id="alarmContainer" class="container alarmContainer">
	<p>Congratulations! You´ve sold {{ shares }} shares of {{ ticker }}.</p>
</div>
{% endif %}
{% endif %}
{% endif %}

<div class="container" style="display:flex;">
	<div class="col colTable">
		<div class="row rowTable">
			<div class="row">
				<h6 style="font-size: 22px;">Asset Portfolio</h6>
			</div>
			<table class="table table-striped table-borderless table-hover table-custom">
				<thead>
					<tr class="th-market">
						<th scope="col">Symbol</th>
						<th scope="col">Asset Type</th>
						<th scope="col"># Shares</th>
						<th scope="col">Weighted Cost</th>
						<th scope="col">Value</th>
						<th scope="col">$Gain/Loss</th>
						<th scope="col">%Gain/Loss</th>
					</tr>
				</thead>
				<tbody>

					{% if history %}
					{% for row in history %}
					<tr class="td-market">
						<th class="walletHeadRow" scope="col" onclick="getAssetData(this)">{{ row[6] }}</th>
						<td>{{ row[7] }}</td>
						<td>{{ row[1] }}</td>
						<td>$ {{ row[2] }}</td>
						<td>$ {{ row[3] }}</td>
						<td>$ {{ row[4] }}</td>
						<td>{{ row[5] }} %</td>
					</tr>
					{% endfor %}
					{% else %}
					<tr class="td-market">
						<th class="walletHeadRow" scope="col" onclick="getAssetData(this)">Empty!</th>
					</tr>
					{% endif %}

				</tbody>
			</table>
		</div>
	</div>
	<div class="col" style="margin-left: 25px">

		<!-- ____________ WALLET INFORMATION BOX ________________-->
		<div class="row">
			<h2 class="h2-wallet">Wallet Information</h2>
		</div>
		<div class="secnd-col">
			<div class="row companyNameLabel">
				<div>
					<p class="box-title-wallet">{{ username }}</p>
				</div>
			</div>

			<div class="row box-rows-wallet-title" style="display:flex">
				<div class="firstCol">
					<p>Cash Summary</p>
				</div>
			</div>

			<div class="row box-rows-wallet" style="display:flex">
				<div class="firstCol">
					<p>Actual:</p>
				</div>
				<div>
					<p>$ {{ cashPosition[0] }},{{ cashPosition[1] }}</p>
				</div>
			</div>
			<div class="row  box-rows-wallet" style="display:flex">
				<div class="firstCol">
					<p>Invested:</p>
				</div>
				<div>
					<p>$ {{ cashInvested[0] }},{{ cashInvested[1] }}</p>
				</div>
			</div>
			<div class="row  box-rows-wallet" style="display:flex">
				<div>
					<p class="firstCol">Portfolio:</p>
				</div>
				<div>
					<p>$ {{ portfolio }}</p>
				</div>
			</div>

			<div class="row box-rows-wallet-title" style="display:flex">
				<div class="firstCol">
					<p>Performance</p>
				</div>
			</div>
			<div class="row  box-rows-wallet" style="display:flex">
				<div class="firstCol">
					<p>Return($):</p>
				</div>
				<div>
					<p>$ {{ uRet }}{{ uRoi }}</p>
				</div>
			</div>
			<div class="row  box-rows-wallet" style="display:flex">
				<div>
					<p class="firstCol">Return(%):</p>
				</div>
				<div>
					<p>{{ pRet }}{{ pRoi }} %</p>
				</div>
			</div>

		</div>

		<!-- ____________ ASSET INFORMATION BOX ________________-->
		<div class="row boxes-wallet">
			<h2 class="h2-wallet">Asset Information</h2>
		</div>
		<div class="secnd-col">
			<div class="row companyNameLabel">
				<div>
					<p class="box-title-wallet" id="labelCompanyName">companyName</p>
				</div>
			</div>
			<div class="row  box-rows-wallet" style="display:flex">
				<div class="firstCol">
					<p>Ticker Symbol:</p>
				</div>
				<div>
					<p id="labelTickerSymbol"></p>
				</div>
			</div>
			<div class="row  box-rows-wallet" style="display:flex">
				<div class="firstCol">
					<p>Current Price:</p>
				</div>
				<div>
					<p id="labelCurrentPrice"></p>
				</div>
			</div>
			<div class="row  box-rows-wallet" style="display:flex">
				<div class="firstCol">
					<p>52 Week Change:</p>
				</div>
				<div>
					<p id="labelYearDate"></p>
				</div>
			</div>
		</div>

		<!-- ____________ PIE CHART BOX ________________-->
		<div class="row boxes-wallet">
			<h2 class="h2-wallet">Portfolio Allocation</h2>
		</div>
		<div class="secnd-col">
			<div id="pie-chart"><canvas id="canvas" style="max-height: 300px;"></canvas>
			</div>
		</div>

	</div>
</div>


<!--______________________ POPUP WINDOW ___________________-->
<!-- Container with pop up window -->
<div id="walletModal" class="bg-modal">
	<div class="modal-content-wallet">

		<div class="container">

			<div class="col">
				<p id="closeModal" class="crossX" onclick="closeModal()">+</p>
				<div class="row rowTable" style="margin-top: 0;">
					<div class="row">
						<h6 style="font-size: 18px;">Asset History</h6>
					</div>
					<table class="table table-striped table-borderless table-hover table-smdxr">
						<thead>
							<tr class="th-market">
								<th scope="col">Date</th>
								<th scope="col">Description</th>
								<th scope="col">Shares</th>
								<th scope="col">Price</th>
								<th scope="col">Order Value</th>
							</tr>
						</thead>

						<tbody class="table-body">



						</tbody>

					</table>
				</div>
			</div>
			<div class="col" style="margin-left: 25px">

			</div>
		</div>

	</div>
</div>



<script>
	const tableBody = document.querySelector(".table-body")


	function fillsTable(e) {

		const rows_delete = document.querySelectorAll(".row-delete")

		rows_delete.forEach(row => {
			tableBody.removeChild(row)
		})

		ticker = e.innerHTML;

		fetch("http://127.0.0.1:5000/getStockHistory", {
			method: "POST",
			credentials: "include",
			body: JSON.stringify(ticker),
			cache: "no-cache",
			headers: new Headers({
				"content-type": "application/json"
			})
		})
			.then(response => response.json())
			.then(data => {

				data.forEach(row => {
					const newTr = document.createElement("tr")
					newTr.classList.add("td-market")
					newTr.classList.add("row-delete")

					/* Creates a a table row (Tr) with 4 Td */
					for (i = 0; i < 5; i++) {

						const newTd = document.createElement("td")

						if (i == 3) {
							row[i] = Math.round(row[i] * 100) / 100
						}

						if (i < 4) {
							newTd.innerHTML = row[i]
						}
						else {
							newTd.innerHTML = "$ " + Math.round((row[2] * row[3]) * 100) / 100
						}
						newTr.appendChild(newTd)
					}
					tableBody.appendChild(newTr)
				})
			})
	}

	function closeModal() {
		document.getElementById("walletModal").style.visibility = "hidden";
	}


	/*_________ Gets asset info and loads asset info box _________*/
	function getAssetData(e) {

		const modalWindow = document.getElementById("walletModal")
		modalWindow.style.visibility = "hidden";

		if (e != null) {
			fillsTable(e)
			ticker = e.innerHTML;
			modalWindow.style.visibility = "visible";
		}
		else {
			if (ticker == "") {
				ticker = "TSLA";
			}
		}

		fetch("http://127.0.0.1:5000/getPrice", {
			method: "POST",
			credentials: "include",
			body: JSON.stringify(ticker),
			cache: "no-cache",
			headers: new Headers({
				"content-type": "application/json"
			})
		})
			.then(response => response.json())
			.then(data => {

				price = data["price"];
				ytdChange = data["fifty2WC"]
				companyName = data["companyName"]

				document.getElementById("labelTickerSymbol").innerText = ticker;
				document.getElementById("labelCompanyName").innerText = companyName;
				document.getElementById("labelCurrentPrice").innerText = "$ " + price;
				document.getElementById("labelYearDate").innerText = ytdChange + " %";

			})
	}




	/* ___________ GETS DATA AND BUILDS PIE CHART _____________*/
	function buildPieChart() {

		/* _____ GETS DATA _____*/
		fetch("http://127.0.0.1:5000/getAssetAloc", {
			method: "GET"
		})
			.then(response => response.json())
			.then(data => {
				let label = []
				let dataset = []

				const colors = ["#81b29a", "#2a9d8f", "#457b9d", "#1d3557", "#14213d", "#dee2ff", "#cbc0d3", "#64653", "#6b705c", "#d4a373"];

				data.forEach(x => {
					label.push(x[0]);
					dataset.push(x[1]);
				})

				/* _____ BUILDS PIE CHART _____*/
				var ctx = document.getElementById('canvas').getContext('2d');
				var myPieChart = new Chart(ctx, {
					type: 'pie',
					data: {
						labels: label,
						datasets: [{
							data: dataset,
							backgroundColor: colors,
							borderColor: "lightgray"
						}]
					},
					options: {
						responsive: true,
						legend: {
							position: "right",
							labels: {
								fontSize: 12,
								fontColor: "#17c3b2"
							}
						}
					}
				})
			})
	}



	ticker = "{{ ticker }}"

	window.onload = function () {
		buildPieChart()
		getAssetData()
	}

	/*________ Handles alert messagem when buying assets ________*/
	function hideAlarmContainer() {
		const alarmContainer = document.getElementById("alarmContainer");
		if (alarmContainer !== null) {
			alarmContainer.style.display = "none";
		}
	}
	setTimeout(hideAlarmContainer, 5000);


</script>

{% endblock %}